/* KP breakpoints */
/* 767px mobile  Bootstrap = xs and sm */
/* 768px to 1023px tablet; Bootstrap = md to 992px*/
/* 1024px above desktop; Bootstrap = lg 992px and up to 1200px for xl*/

.a-li:hover {
    font-weight: bold;
}

.a-li {
    color: #667083;
}

.align-ctr {
    align-self: center;
}

.aside-border {
    border: 1px solid black;
}

.aside-img {
    padding-top: 10%;
}

.arrow-mobile {
    display: flex;
    justify-content: center;
}

.arrow-right {
    position: relative;
    right: 6%;
    bottom: 60px;
    z-index: 2;
    display: flex;
}

.arrow-drop {
    bottom: 0px;
    top: 65px;
}

.arrow-width {
    width: 3.3rem;
}

.article-padding {
    padding: 4% 9%;
}

.article-body {
    padding: 3% 7% 3% 8%;
}

.author-quote {
    font-size: .85rem;
}

.body-text {
    font-size: 1.15rem;
}

.blockquote-text {
    color: #667083;
    font-size: 1.15rem;
    font-weight: bold;
    margin: 0;
    padding: 3%;
}

.blockq-div {
    display: flex;
    margin-top: 27%;
    padding: 3%;
}

.blue-text {
    color: #003B71;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 7%;
}

.dark-blue {
    background-color: #003B71;
}

.desktop-execs {
    display: none;
}

.desktop-execs-img {
    padding-top: 3%;
    text-align: center;
}

.desktop-execs-span {
    padding-top: 7%;
}

.desktop-logo {
    position: relative;
    right: 10px;
    width: 30%;
}

.desktop-logo-padding {
    padding-top: 40px;
}

.disp-mobile {
    display: none;
}

.ensure-desktop-img { 
    display: flex;
    justify-content: center;
}

.ensure-ul-div {
    display: flex;
    align-items: flex-end;
}

.exec-img {
    padding: 5% 2.5%;
    text-align: center;
}

.exec-label {
    display: block;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.exec-title {
    padding-top: 3%;
}

.first-pull-q-arrow {
    position: relative;
    top: 105px;
}

.full-width {
    width: 100%;
}

.full-viewport-width {
    width: 100vw;
}

.green-divider {
    background-color: #57A635;
    height: 30px;
    width: 100%;
}

.green-text {
    color: #4A7628;
    font-weight: bold;
    font-size: 1.7rem;
}

.header-div {
    padding-bottom: 30px;
}

.header-text {
    font-size: 8.5vw;
    margin: 0;
}

.home-img {
    position: relative;
    width: 100%;
}

.info-graphic {
    background-color: #003B71;
    width: 100%;
}

.info-graphic-mobile {
    display: none;
}

.info-graphic-wrapper {
    padding-top: 4%;
}

.info-graphic-lightblue {
    background-color: lightblue;
}

.intro {
    margin-left: 15%;
    margin-right: 15%;
    padding: 4% 0;
}

#leadership_message {
    padding: 0;
}

.lead-section {
    display: flex;
}

.light-blue {
    background-color: #0078B3;
}

.li-divider {
    align-self: center;
    border-right: 1px solid black;
    height: 15px;
}

.li-text {
    content: " > ";
    font-size: .92rem;
    font-weight: 900;
    text-decoration: none;
}

.marg-btm-text {
    margin-bottom: 1rem;
}

.margin-btm-zero {
    margin-bottom: 0;
}

.mobile-padding {
    padding-left: 5%;
}

.nav-div {
    display: flex;
}

.nav-mp {
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.padding-btm {
    padding-bottom: 3%;
}

.phone-logo {
    max-width: 25%;
    height: auto;
}

/* Get rid of gutters on all rows without having to add
no-gutters class to every 'row' */
.row {
    margin-left: 0;
    margin-right: 0;
}

.second-column {
    border-left: 1px solid black;
}

.second-col-section-header {
    align-items: flex-end;
    display: flex;
}

.section-header-ht {
    border-bottom: 1px solid black;
    height: 140px;
    padding-left: 4%;
}

.sm-full-border {
    border: 1px solid black;
    padding: 0;
}

.subHeader {
    font-size: 1.2rem;
}

.text-white {
    color: white;
}

.title {
    color: #667083;
    font-size: 3rem;
    margin: 0;
}

.top-img {
    padding: 0;
    display: flex;
    justify-content: center;
}

.ul-nav {
    list-style-type: none;
    justify-content: center;
}

.vertical-blockquote {
    line-height: 1.7;
    margin-top: 18%;
    margin-left: 11%;
    padding-left: 15%;
    padding-right: 15%;
}
.mobile-logo {
    margin-bottom: -15%;
    position: relative;
    width: 25%;
    height: auto;
}

/* Phone */
@media (min-width: 767px) {
    
}
/* Tablet */
@media (min-width: 768px) {

}
/* Desktop */
@media (min-width: 1024px) {

}


/* Phone */
@media (min-width: 0px) and (max-width: 767px) {
    .a-li::after {
        content: " > ";
        float: right;
    }

    .body-text {
        font-size: 1rem;
    }

    .disp-mobile {
        display: block;
    }
    
    .first-col {
        display: none;
    }
    
    .first-col-sm-box {
        display: none;
    }
    
    .full-border {
        border: none;
    }
    
    .green-text {
        font-size: 1.4rem;
    }

    .header-text {
        font-size: 9vw;
    }

    .info-graphic {
        display: none;
    }

    .info-graphic-mobile {
        display: flex;
        width: 100%;
    }

    .intro {
        margin-left: 5%;
        margin-right: 5%;
    }

    .li-divider {
        display: none;
    }
    
    .li-text { 
        border-top: 1px solid black;
    }
    
    .mobile-blockquote-text {
        font-size: 1rem;
    }
   

    .mobile-padding-p {
        padding-top: 7%
    }
    
    .mobile-disp-none {
        display: none;
    }

    .mobile-text-center {
        text-align: center;
    }
    
    .second-col-mobile {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .section-header-ht {
        padding-left: 10%;
    }

    .subHeader {
        font-size: 1.1rem;
    }

    .title {
        font-size: 1.9rem;
    }

   .ul-nav {
    display: block;
   }

   .tablet-disp-none {
       display: none;
   }

   .article-mobile-padding {
        padding: 0;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

    .body-text {
        font-size: 1.125rem
    }

    .disp-mobile {
        display: block;
    }

    .first-col {
        display: none;
    }

    .first-col-sm-box {
        display: none;
    }

    .green-text {
        font-size: 1.55rem;
    }

    .mobile-logo {
        margin-bottom: -15%;
        position: relative;
        right: 72px;
    }

    .mobile-padding-p {
        padding-top: 7%
    }

    .mobile-disp-none {
        display: none;
    }

    .mobile-text-center {
        text-align: center;
    }

    .second-col-mobile {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .section-header-ht {
        padding-left: 10%;
    }

    .subHeader {
        font-size: 1.6rem;
    }

    .article-mobile-padding {
        padding: 0;
    }

    .tablet-img-80 {
        width: 80%;
    }

    .tablet-img-ctr {
        display: flex;
        justify-content: center;
    }

    
}
/* Desktop */
@media (min-width: 1024px) {

    .desktop-execs {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .desktop-pad {
        padding: 2% 0;
    }

    .exec-img {
        display: none;
    }

    .first-col-sm-box {
        height: 140px;
    }
    
    .header-text {
        font-size: 7.5vw;    
    }

    .mobile-blockquote {
        display: none;
    }
    
    .special-arrow-right {
        align-self: center;
    }

    .subHeader {
        font-size: 2.2rem;
    }

    .top-link {
        border-right: 1px solid black;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .mobile-logo {
        right: 34px;
        
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .mobile-logo {
        right: 46px;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    .mobile-logo {
        right: 57px;
    }
}