/* KP breakpoints */
/* 767px mobile  Bootstrap = xs and sm */
/* 768px to 1023px tablet; Bootstrap = md to 992px*/
/* 1024px above desktop; Bootstrap = lg 992px and up to 1200px for xl*/

.a-li:hover {
    font-weight: bold;
}

.a-li {
    color: black;
}

.align-ctr {
    align-self: center;
}

.aside-border {
    border: 1px solid black;
}

.arrow-mobile {
    display: flex;
    justify-content: center;
}

.arrow-right {
    position: relative;
    right: 3%;
    bottom: 20px;
    z-index: 2;
    display: flex;
}

.arrow-width {
    width: 3.3rem;
}

.article-padding {
    padding: 4% 9%;
}

.article-body {
    padding: 2% 4%;
}

.blockquote-text {
    padding: 3%;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.blockq-div {
    display: flex;
    padding: 3%;
}

.dark-blue {
    background-color: #003B71;
}

.desktop-execs {
    display: none;
}
.disp-mobile {
    display: none;
}

.exec-img {
    padding: 5% 2.5%;
    text-align: center;
}

.exec-label {
    display: block;
    margin: 0;
    text-align: center;
}

.full-viewport-width {
    width: 100vw;
}

.green-divider {
    height: 30px;
    background-color: #57A635;
    width: 100%;
}

.green-text {
    color: #4A7628;
}

.header-div {
    padding-bottom: 30px;
}

.header-text {
    font-size: 8vw;
    margin: 0;
}

.home-img {
    position: relative;
    width: 100%;
}

.intro {
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 2%;
}

#leadership_message {
    padding: 0;
}

.lead-section {
    display: flex;
}

.light-blue {
    background-color: #0078B3;
}

.li-divider {
    border-right: 1px solid black;
    align-self: center;
    height: 15px;
}

.li-text {
    text-decoration: none;
    font-size: .77rem;
    font-weight: 900;
    content: " > "
}

.marg-btm-text {
    margin-bottom: 1rem;
}

.mobile-padding {
    padding-left: 5%;
}

.nav-div {
    display: flex;
}

.nav-mp {
    margin: 0;
    padding: 0;
}

.padding-btm {
    padding-bottom: 3%;
}

.second-column {
    border-left: 1px solid black;
}

.second-col-section-header {
    display: flex;
    align-items: flex-end;
}

.section-header-ht {
    height: 100px;
    border-bottom: 1px solid black;
    padding-left: 4%;
}

.sm-full-border {
    border: 1px solid black;
    padding: 0;
}

.subHeader {
    font-size: 1.3rem;
}

.text-white {
    color: white;
}

.title {
    margin: 0;
    font-size: 3rem;
}

.ul-nav {
    list-style-type: none;
    justify-content: center;
}

.vertical-blockquote {
    margin-top: 52%;
    line-height: 1.9;
    margin-left: 11%;
}

/* Phone */
@media (min-width: 767px) {
    
}
/* Tablet */
@media (min-width: 768px) {

}
/* Desktop */
@media (min-width: 1024px) {

}
/* Phone */
@media (min-width: 0px) and (max-width: 767px) {
    .a-li::after {
        content: " > ";
        float: right;
    }

    .disp-mobile {
        display: block;
    }
    .mobile-disp-none {
        display: none;
    }

    .first-col {
        display: none;
    }

    .first-col-sm-box {
        display: none;
    }
    
    .full-border {
        border: none;
    }

    .li-divider {
        display: none;
    }

    .li-text { 
        border-top: 1px solid black;
    }

    li:nth-last-child(1) {
        border-bottom: 1px solid black;
    }

    .second-col-mobile {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .section-header-ht {
        padding-left: 10%;
    }

    .subHeader {
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.9rem;
    }

   .ul-nav {
    display: block;
   }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {


    .disp-mobile {
        display: block;
    }

    .first-col {
        display: none;
    }

    .first-col-sm-box {
        display: none;
    }
    
    .mobile-disp-none {
        display: none;
    }

    .second-col-mobile {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .section-header-ht {
        padding-left: 10%;
    }

    .subHeader {
        font-size: 1.6rem;
    }
}
/* Desktop */
@media (min-width: 1024px) {

    .desktop-execs {
        display: flex;
        justify-content: center;
    }

    .exec-img {
        display: none;
    }

    .first-col-sm-box {
        height: 100px;
    }
    
    .mobile-blockquote {
        display: none;
    }
    
    .subHeader {
        font-size: 2rem;
    }
}
